:root {
    --primaryColor: #00beed;
    --secundaryColor: #658cdf;
}

/* Universal Styles */
html * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #d3d3d3;
}

main {
    width: 65%;
    margin: auto;
}

#main-flex {
    display: flex;
    flex-flow: row-reverse nowrap;
}
    
.flex-container {
    display: flex;
}

p {
    color: rgb(34, 56, 56);
    font-weight: 600;
}

/* Header Section */
header {
    background-image: linear-gradient(to right, #d3d3d3, var(--primaryColor), #d3d3d3);
    width: 100%;
}

h1 {
    font-size: 80px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: 'Yellowtail', cursive;
}

#name-title {
    text-align: center;
    padding-top: 20px;
    margin-bottom: -20px;
}

/* Sidebar with Nav */

.nav-container {
    display: inline-block;
    margin-left: 1rem;
}

.image-container img {
    border: 1px var(--primaryColor) solid;
    border-radius: 50%;
    height: 12.5rem;
    width: 12.5rem;
    overflow: hidden;
    box-shadow: 0 8px 20px 0 #344b47;
}

nav {
    width: 120px;
    height: 180px;
    display: grid;
    grid: 5 2;
    margin: 1.5rem 2rem 1rem 2rem;
}

/* Buttons styling and positions */

button {
    border: 1px solid var(--primaryColor);
    border-radius: 50%;
    background-image: linear-gradient(to bottom, var(--primaryColor), #fff);
    height: 63px;
    width: 63px;
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
    line-height: .8;
    box-shadow: 0 8px 16px 0 #344b47;
    margin-top: -1rem;
}

.selected,
button:hover,
button:focus {
    background-image: linear-gradient(to bottom, var(--secundaryColor), var(--primaryColor));
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

button:active {
    box-shadow: 0 4px 12px 0 #344b47;
    transform: translateY(4px);
}

#home-btn {
    grid-column: 1;
    grid-row: 1;
}

#about-btn {
    grid-column: 2;
    grid-row: 2;
}

#example-btn {
    grid-column: 1;
    grid-row: 3;
}

#live-btn {
    grid-column: 2;
    grid-row: 4;
}

#contact-btn {
    grid-column: 1;
    grid-row: 5;
}

/* Cards Section */
/* Main Cards */

.card {
    border-radius: 20px;
    max-width: 1000px;
    max-height: 615px;
    padding: 10px;
    margin: 1rem auto;
    background-image: linear-gradient(to top left, #fff, var(--primaryColor));
    box-shadow: 0 8px 16px 0 #344b47;
    min-height: 400px;
    display: none;
    overflow: auto;
}

.shown {
    display: block;
}

h2 {
    font-family: 'Yellowtail', cursive;
    font-size: 3rem;
    text-align: center;
}

#intro-title,
#about-title {
    font-family: 'Yellowtail', cursive;
    transform: rotate(350deg);
    font-size: 3rem;
    line-height: 2.3rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
}

#intro-text,
.about-text {
    color: rgb(34, 56, 56);
    font-weight: 600; 
    text-align: left;    
    margin-top: 1em;
}

#intro-text {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    line-height: 2.3rem;
}

.about-text {
    font-size: 1rem;
    line-height: 1.8rem;
    flex: 1;
    padding: 1rem;
}

#further {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: black;
}

.bolder {
    color: black;
    font-size: 1.7rem;
    font-weight: bolder;
}

.description {
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
}

#contact-text {
    display: block;
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
}

#mail-me {
    transform: rotate(350deg);
    margin: 2rem auto;
    padding: 1.5rem;
}

#mailto-link a {
    display: block;
    width: 100%;
    text-align: center;
    margin: 2.5rem auto;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Project Cards */

.projects-container {
    overflow: hidden scroll;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #00b8a5;
    margin-top: 1em;
    padding: 10px;
    border-radius: 20px;
    height: 300px;
    scrollbar-width: thin;
    scrollbar-color: #00b8a5 var(--secundaryColor);
}

.projectcard {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    background-color: rgba(101, 140, 223, .5);
    border: 3px solid rgb(34, 56, 56);
    padding: .5rem;
    margin-top: .5rem;
    line-height: 1rem;
}

.projectcard img {
    margin: auto;
    max-width: 170px;
    max-height: 100px;
    border: 1px solid black;
}

.projectcard p {
    padding: .1rem;
    text-align: center;
    color: black;
    font-weight: 400;
}

.projectcard a {
    text-align: center;
    padding: .5rem;
    font-weight: bold;
    color: darkslategray;
}

.project-title {
    margin: auto;
    max-width: 60%;
    padding: .1rem;
    text-align: center;
}

/* Skills Logo's */

.skills {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    justify-content: space-around;
}

.skills img {
    width: 100px;
    margin: auto;
}

/* Footer */

footer {
    background-image: linear-gradient(to right, #d3d3d3, var(--primaryColor), #d3d3d3);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: .5rem 0;
}

.footercontainer {
    width: 65%;
    margin: auto;
}

.footertext {
    text-align: center;
    font-family: 'Roboto', cursive;
    font-size: 1rem;
    font-weight: bold;
}

/* Media Queries */

@media screen and (max-width: 800px) {
    main {
        width: 96%;
    }

    #main-flex {
        flex-direction: column;
    }

    .nav-container {
        width: 100%;
        margin-top: -.5rem;
    }

    .image-container img {
        display: block;
        margin: auto;
        height: 6rem;
        width: 6rem;
    }

    nav {
        width: 90%;
        margin: 1.5rem 0 .2rem;
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    .card {
        max-width: 90%;
        max-height: none;
    }

    #intro-text,
    .about-text {
        font-size: 1rem;
    }

    #mail-me {
        margin: 2rem auto;
        padding: 0;
    }

    #mailto-link a {
        font-size: 1.2rem;
    }

    .about-flex {
        flex-direction: column;
    }

    .bolder {
        font-size: 1.2rem;
    }

    .projectcard {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        align-content: middle;
    }

    .project-title,
    .projectcard a {
        max-width: 100%;
        width: 100%;
        flex: 0 1 100%;
    }

    .projectcard img,
    .projectcard p {
        flex: 1 0 20%;
        margin: .5rem;
    }

    .projectcard img {
        max-width: 100px;
        max-height: 100px;
    }

    .skills {
        width: 98%;
    }

    footer {
        position: relative;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1200px) {

    main {
        width: 90%;
    }

    #intro-text {
        font-size: 1.2rem;
    }

    .bolder {
        font-size: 1.4rem;
    }
}