:root {
    --primaryColor: #00beed;
    --secundaryColor: #658cdf;
}

/* Universal Styles */
html * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
}

main {
    width: 65%;
    margin: auto;
    
}

#main-flex {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin: auto;
}
    
    
.flex-container {
    display: flex;
}

/* Header Section */
header {
    background-image: linear-gradient(to right, #ffffff, var(--primaryColor), #ffffff);
    width: 100%;
}

h1 {
    font-size: 80px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: 'Yellowtail', cursive;
}

#name-title {
    text-align: center;
    padding-top: 20px;
    margin-bottom: -20px;
}

/* Sidebar with Nav */


.nav-container {
    display: inline-block;
    margin-left: 0.5rem
}

.image-container img {
    border: 1px var(--primaryColor) solid;
    border-radius: 50%;
    max-height: 12.5rem;
    max-width: 12.5rem;
    overflow: hidden;
    box-shadow: 0 8px 20px 0 #344b47;
}

nav {
    width: 120px;
    height: 180px;
    display: grid;
    grid: 5 2;
    margin: 1.5rem 2rem 1rem 2rem;
}

/* Buttons positions and styling */

#home-btn {
    grid-column: 1;
    grid-row: 1;
}

#info-btn {
    grid-column: 2;
    grid-row: 2;
}

#practice-btn {
    grid-column: 1;
    grid-row: 3;
}

#live-btn {
    grid-column: 2;
    grid-row: 4;
}

#contact-btn {
    grid-column: 1;
    grid-row: 5;
}

button {
    border: 1px solid var(--primaryColor);
    border-radius: 50%;
    background-image: linear-gradient(to bottom, var(--primaryColor), #ffffff);
    height: 60px;
    width: 60px;
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 #344b47;
    margin-top: -1rem;
}

.selected,
button:hover,
button:focus {
    background-image: linear-gradient(to bottom, var(--secundaryColor), var(--primaryColor));
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

button:active {
    box-shadow: 0 4px 12px 0 #344b47;
    transform: translateY(4px);
}

/* Cards Section */
/* Main Cards */

.card {
    border-radius: 20px;
    max-width: 725px;
    max-height: 600px;
    padding: 20px;
    margin: 1rem auto;
    background-image: linear-gradient(to top left, #fff, var(--primaryColor));
    box-shadow: 0 8px 16px 0 #344b47;
    min-height: 400px;
    display: none;
    overflow: auto;
}

.shown {
    display: block;
}

h2 {
    text-align: center;
}

/* Project Cards */

.projects-container {
    overflow: scroll;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #00b8a5;
    margin-top: 1em;
    padding: 10px;
    border-radius: 20px;
    height: 275px;
}

.projectcard {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    background-color: #aaf894;
    border: 3px solid darkslategrey;
    padding: 5px;
    margin-top: 3px;
}
.projectcard img {
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    border: 1px solid black;
}

.projectcard p {
    padding: 0.1rem
}

.project-title {
    margin: auto;
    max-width: 60%;
    padding: 0.1rem;
    text-align: center;
}

/* Skills Logo's */

.skills {

}

.skills img {
    width: 100px;
    margin: auto;
}

/* Footer */

footer {
    background-image: linear-gradient(to right, #ffffff, var(--primaryColor), #ffffff);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: .5rem 0;
}

.footercontainer {
    width: 65%;
    margin: auto auto;
}

.footertext {
    text-align: center;
    font-family: 'Roboto', cursive;
    font-size: 1rem;
    font-weight: bold;
    
}

/* Media Queries */

@media screen and (max-width: 600px) {
    main {
        width: 96%;
        margin: auto;
        flex-direction: column;
    }

    .nav-container {
        width: 100%;
    }

    .image-container img {
        display: block;
        margin: auto;
        height: 6rem;
        width: 6rem;
    }

    nav {
        width: 80%;
        margin: 1.5rem auto .2rem;
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    .card {
        max-width: 90%;
    }
    
}