/* #3de7d3 */

/* Universal Styles */
html * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 60%;
    margin: auto;
    }
    
.flex-container {
    display: flex;
    overflow: scroll;
    background-color: lightgrey;
    padding: 5px;
}

/* Header Section */
header {
    background-image: linear-gradient(to right, #ffffff, #3de7d3, #ffffff);
    width: 100%;
}

h1 {
    font-size: 80px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: 'Yellowtail', cursive;
}

#name-title {
    text-align: center;
    padding-top: 50px;
    margin-bottom: -20px;
}

/* Sidebar with Nav */

.nav-container {
    float: right;
    margin-top: -30px;
}

.image-container img {
    border: 1px #3de7d3 solid;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
    box-shadow: 0 8px 20px 0 #344b47;
}

nav {
    width: 120px;
    height: 180px;
    display: grid;
    grid: 4 2;
    margin: auto;
    margin-top: 8px;
}

/* Buttons posisions and styling */

#home-btn {
    grid-column: 1;
    grid-row: 1;
}

#info-btn {
    grid-column: 2;
    grid-row: 2;
}

#practice-btn {
    grid-column: 1;
    grid-row: 3;
}

#live-btn {
    grid-column: 2;
    grid-row: 4;
}

nav button {
    border: 1px solid #3de7d3;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #3de7d3, #ffffff);
    height: 70px;
    width: 70px;
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 #344b47;
}

.selected,
button:hover,
button:focus {
    background-image: linear-gradient(to bottom, #3de7d3, #00BBE7);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

button:active {
    box-shadow: 0 4px 12px 0 #344b47;
    transform: translateY(4px);
}

/* Cards Section */
/* Main Cards */

.card {
    /*border: 3px solid #3de7d3;*/
    border-radius: 20px;
    width: 725px;
    padding: 20px;
    margin: 50px 0 20px 0;
    background-image: linear-gradient(to top left, #fff, #3de7d3);
    box-shadow: 0 8px 16px 0 #344b47;
    height: 400px;
    display: none;
}

h2 {
    text-align: center;
}

/* Project Cards */

.projectcard img {
    max-width: 200px;
    max-height: 100px;
}

#intro {
    display: block;
}